.gradud {
    position: relative;
    border-style: solid;
    border-image: linear-gradient(var(--color-a), var(--color-c)) 1;
    border-width: 0 var(--thin) 0 0;
}

.gradh {
    border-style: solid;
    border-image: linear-gradient(to right, var(--color-a), var(--color-c), var(--color-a)) 1;
    border-width: 0 0 var(--thin) 0;
}

.gradrl {
    border-style: solid;
    border-image: linear-gradient(to right, var(--color-c), var(--color-a)) 1;
    border-width: 0 0 var(--thin) 0;
}

.gradlr::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-style: solid;
    border-image: linear-gradient(to right, var(--color-a), var(--color-c)) 1;
    border-width: 0 0 var(--thin) 0;
}

#whack {
    width: fit-content;
    visibility: hidden;
}

.button2 {
    border: solid var(--color-b);
    border-width: 0.125rem;
    background-color: var(--color-a);
    color: var(--color-b);
    font-family: inherit;
    font-size: inherit;
}

#calcmenu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    border: 0.1rem solid var(--color-c);
    justify-content: space-between;
    padding: 0;
    margin: 0;
    width: auto
}

/*/

:root {
  --color-a: #121212;
  --color-b: #b3b3b3;
  --color-c: #7c9ec5;
  --thin: 0.125rem;
  --tfer: 1.4rlh;
}

*:focus {
  outline: none;
}

body {
  display: flex;
  background-color: var(--color-a);
  color: var(--color-b);
  flex-direction: column;
  align-content: space-around;
  flex-wrap: wrap;
}

input {
  background-color: var(--color-a);
  border: solid var(--color-b);
  border-width: 0 0 var(--thin) 0;
  color: var(--color-b);
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  padding: 0;
}

input::placeholder {
  color: var(--color-c);
}

input[type="button"] {
  background-color: var(--color-b);
  color: var(--color-a);
  width: 5.825rem;
  height: 3.6rem;
}

input[type="button"]:active {
  background-color: var(--color-c);
}

menu {
  border: solid var(--thin) var(--color-b);
  box-shadow: 0.375rem 0.375rem;
  min-width: 600px;
  width: min-content;
  margin: var(--tfer);
  padding: 0;
}

p {
  margin: 0 0 1.25rlh 0;
}

details {
  font-family: monospace;
}

.menumarginpad {
  margin: 1rlh 0 1rlh 0;
  padding: 1rlh 1rem 1rlh 1rem;
}

.labelmargin {
  margin: 0.4rlh 0 0.4rlh 0;
  height: var(--tfer);
}

.inpad {
  padding: 0 0 0.3rem 0;
}

.pmargin {
  margin: 0 0 1.25rlh 0;
}

.tfer {
  margin: 0.4rlh 0 0.4rlh 0;
  height: var(--tfer)
}

.split {
  columns: 2;
  column-gap: 2rem;
  column-fill: balance;
  width: fit-content;
}

.gap {
  margin: 0 0 1.25rlh 0;
}

.colorc {
  color: var(--color-c);
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex-direction: column;
}

.end {
  align-items: end;
  justify-content: flex-end;
}

.sb {
  justify-content: space-between;
}

.mid {
  align-items: center;
}

.midtext {
  text-align: center
}

.left {
  align-self: flex-start;
}

.right {
  align-self: flex-end;
}

.thic {
  font-weight: 900;
}

.stampbar{
  border: solid var(--color-b);
  border-width: 0 0 var(--thin) 0;
}

/*cryo*/

.w100 {
    width: 100%;
  }
  
  .nopad {
    padding: 0;
  }
  
  
  
  .tabgroup {
    display: flex;
    margin: 0 0.2rem 0.1rlh 0.2rem;
  }
  
  .test1 {
    display: flex;
  }